body {
    height: auto;
    width: 100%;
    font-family: 'Roboto', sans-serif;

}

.container {

    margin: 0 auto;
    margin-top: 30px;
    height: auto;
    width: 90%;
    border-color: black;
    border-radius: 25px;
    background-color: slateblue;
    padding-top: 20px;
    padding-bottom: 20px;
}
.top{
    min-height: 500px;
    margin: 0 auto;
    margin-top: 30px;
    height: auto;
    width: 80%;
    border-color: black;
    border-radius: 25px;
    background-color: greenyellow;
    padding: 20px;
    position: relative;
}

.bottom{
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    border-color: black;
    border-radius: 25px;
    background-color: greenyellow;
    padding-top: 10px;
}

h1 {
     text-align: center;
}

.completed{
    text-align: center;
    padding-bottom: 10px;
    font-size: 25px;
}

.myList {
    margin-top: 15px;
    padding-bottom: 30px;
}


.list{
    padding-top: 20px;
}
.fa-trash{
    padding-right: 10px;
}
.active{
    color: green;
}

.btn{
    border:0 solid transparent;
}

.deleteAll {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 15px;
}