body {
    height: auto;
    width: 100%;
}

.container {
    min-height: 500px;
    height: auto;
    width: 90%;
    margin: 30px;
    border-color: black;
    border-radius: 25px;
    background-color: #dadfea;
}

h1 {
    text-align: center;
}




.list{
    padding-top: 20px;
}
.fa-trash{
    padding-right: 10px;
}
.active{
    color: green;
}